body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./media/bg.jpg") no-repeat fixed center;
  background-size: 100% 100%;
  backdrop-filter: blur(4px);
  min-height: 93.5vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom CSS */

.submit_btn {
  padding: 0.5rem 1rem;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.bridge_details {
  font-size: 2rem;
  font-weight: 500;
}
